@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 234, 235, 226;
  --background-end-rgb: 220, 221, 212;
  --detail-medium-contrast: #B8B8A9; /* Color del contorno de los puntos */
  --text-body: #6C6C5D; /* Color del punto seleccionado */
}


body {
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.embla {
  overflow: hidden;
  position: relative;
  z-index: 30;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 0;  
  min-width: fit-content;
  margin-right: 20px;
}

.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
  z-index: 40;
}

.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 2.6rem;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 40;
  background-color: transparent;
}

.embla__dot:after {
  content: '';
  display: block;
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  background-color: transparent;
}

.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--text-body);
  background-color: var(--text-body);
}

.embla__controls {
  display: flex;
  grid-template-columns: auto 1fr;
  justify-content: center;
  gap: 1.2rem;
  margin-top: 1.8rem;
  z-index: 40;
}